span {
    display: inline-block;
}
button.remove-region, button.remove-pitched-note {
    color: darkred;
    font-weight: bold;
    font-size: 10px;
}
input.pitch-result {
    width: 50px;
}
.region-list > * {
    background-color: #6094c1;
    border: solid #b3e49a 2px;
    margin-bottom: 6px;
}
.region-list > * > span {
    background-color: #d3ecef;
    border: solid white 2px;
    padding: 2px;
    margin: 3px;
}
.pitch-bend-list > * {
    background-color: #a6e8ab;
    border: solid #3685ab 1px;
    padding: 2px;
    margin-left: 4px;
}
input.pitch-bend {
    width: 60px;
}
table {
    margin: 12px;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
}
img.soundfont-loading {
    width: 100px;
    height: auto;
    mix-blend-mode: multiply;
}
fieldset.needs-smf:disabled {
    filter: blur(2px);
}
input[type="file"].midi-file:invalid {
    /*border: 4px solid red;*/
    /*text-shadow: 1px 1px 2px pink;*/
    box-shadow: 0 0 13px 4.5px rgba(81, 203, 238, 1);
}
.playback-config {
    margin: 8px;
    padding-left: 8px;
    background-color: darkgrey;
}
form.playing .playback-config {
    box-shadow: 0 0 13px 4.5px rgb(196, 98, 42);
}
form.playing button.current-source {
    display: none;
}
form.playing button.destroy-when-music-stops {
    box-shadow: 0 0 13px 4.5px rgb(189, 98, 195);
}
.note-display-cont > .ebony {
    background-color: #9a9a9a;
}
.note-display-cont > .ivory {
    background-color: #e6e6e6;
}
.note-display-cont > * {
    border: 1px solid black;
    height: 8px;
    padding: 0;
    position: relative;
}
.note-display-cont > div:hover {
    filter: brightness(1.2);
}
.note-display-cont > * > * {
    box-shadow:inset 0px 0px 0px 1px #cdcdcd;
}
.note-display-cont > * > div:hover {
    filter: saturate(3.5);
}
.note-display-scroll {
    height: 500px;
    /*overflow: auto;*/
    overflow-y: scroll;
    resize: vertical;
}

body {
    --channel-color-0 : rgb(192, 0, 0);
    --channel-color-1 : rgb(0, 148, 0);
    --channel-color-2 : rgb(60, 60, 255);
    --channel-color-3 : rgb(152, 152, 0);
    --channel-color-4 : rgb(0, 192, 192);
    --channel-color-5 : rgb(192, 0, 192);
    --channel-color-6 : rgb(255, 128, 0);
    --channel-color-7 : rgb(91, 0, 255);
    --channel-color-8 : rgb(0, 0, 0);
    --channel-color-9 : rgb(128, 128, 128);
    --channel-color-10: rgb(127, 255, 0);
    --channel-color-11: rgb(255, 0, 255);
    --channel-color-12: rgb(64, 128, 255);
    --channel-color-13: rgb(192, 128, 0);
    --channel-color-14: rgb(130, 200, 0);
    --channel-color-15: rgb(255, 64, 0);
}

.colorize-channel-bg[data-channel= "0"] { background-color: var(--channel-color-0); }
.colorize-channel-bg[data-channel= "1"] { background-color: var(--channel-color-1); }
.colorize-channel-bg[data-channel= "2"] { background-color: var(--channel-color-2); }
.colorize-channel-bg[data-channel= "3"] { background-color: var(--channel-color-3); }
.colorize-channel-bg[data-channel= "4"] { background-color: var(--channel-color-4); }
.colorize-channel-bg[data-channel= "5"] { background-color: var(--channel-color-5); }
.colorize-channel-bg[data-channel= "6"] { background-color: var(--channel-color-6); }
.colorize-channel-bg[data-channel= "7"] { background-color: var(--channel-color-7); }
.colorize-channel-bg[data-channel= "8"] { background-color: var(--channel-color-8); }
.colorize-channel-bg[data-channel= "9"] { background-color: var(--channel-color-9); }
.colorize-channel-bg[data-channel="10"] { background-color: var(--channel-color-10); }
.colorize-channel-bg[data-channel="11"] { background-color: var(--channel-color-11); }
.colorize-channel-bg[data-channel="12"] { background-color: var(--channel-color-12); }
.colorize-channel-bg[data-channel="13"] { background-color: var(--channel-color-13); }
.colorize-channel-bg[data-channel="14"] { background-color: var(--channel-color-14); }
.colorize-channel-bg[data-channel="15"] { background-color: var(--channel-color-15); }
