
/* general */

span {
    display: inline-block;
}
.message-container {
    position: fixed;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(55, 68, 118, 0.56);
}
.message-container > * {
    margin: 3px;
    padding: 2px 8px;
    background-color: white;
    border-radius: 10px;
}
.message-container .severity-error {
    color: red;
}
.message-container .severity-warning {
    color: #c55e00;
}

/* XML data */

.xml-data {
    background-color: #d3ecef;
    padding: 2px;
    border: solid blue 1px;
    text-align: center;
}
.xml-data > div {
    margin: 2px;
}
.xml-data label {
    margin: 2px;
    display: inline-block;
    white-space: nowrap;
}

input[type="file"].midi-file:invalid {
    /*border: 4px solid red;*/
    /*text-shadow: 1px 1px 2px pink;*/
    box-shadow: 0 0 13px 4.5px rgba(81, 203, 238, 1);
}
fieldset.needs-smf:disabled {
    filter: blur(2px);
}

/* region/sentence list */

button.remove {
    color: darkred;
    font-weight: bold;
    font-size: 10px;
}
.list > * {
    background-color: #6094c1;
    border: solid #b3e49a 2px;
    margin-bottom: 6px;
    padding-left: 2px;
}

.no-pitch-bend-msg:empty, .pitch-bend-list:empty {
    display: none;
}

.sentence.list > * > span, .region-main-part > * {
    background-color: #d3ecef;
    border: solid white 2px;
    padding: 0px;
    margin: 1px;
}
.sentence.list, .pitch-bend-list {
    display: inline;
}

.sentence-list-cont, .region-list-cont {
    padding: 8px;
}
.sentence-list-cont > label, .region-list-cont > label {
    font-weight: bold;
}

/* sentence-specific */

.sentence-list-cont {
    --cell-width: 276px;
    padding-left: 2px;
    border: solid white 2px;
}

.sentence-list-cont .list > * {
    background-color: #c7b190;
    border-color: #a87e7a;
    margin-left: 8px;
    /* - border and padding */
    min-width: calc(var(--cell-width) - 6px);
    text-align: center;
}

.sentence-list-cont .button-holder {
    min-width: var(--cell-width);
    text-align: right;
    font-weight: bold;
    margin-left: 8px;
}
.sentence-list-cont .list > * > span {
    background-color: #ffea7f;
}

/* region-specific */

.region-list-cont {
    --pitch-bend-width: 230px;
}
.region-main-part {
    min-width: calc(var(--pitch-bend-width) * 3);
    text-align: center;
}
.pitch-bend-list > * {
    background-color: #a6e8ab;
    border: solid #3685ab 1px;
    padding: 1px;
    margin: 2px 4px;
    /* - padding - border - margin */
    min-width: calc(var(--pitch-bend-width) - 2px - 2px - 8px);
}
input.pitch-bend {
    width: 60px;
}
input.pitch-result {
    width: 50px;
}
.playing button.current-source {
    display: none;
}
.playing button.destroy-when-music-stops {
    box-shadow: 0 0 13px 4.5px rgb(189, 98, 195);
}

.time-sig-holder {
    font-weight: bold;
}

/* track table */

table.tracks {
    margin: 12px;
    border-collapse: collapse;
}
.tracks td, th {
    border: 1px solid #38abcd;
    padding-left: 4px;
    padding-right: 4px;
}
table.tracks > thead { background-color: #baffaf; }
table.tracks > tbody { background-color: #f0ffff; }
table.tracks > tbody > tr:not(.real) { background-color: #e8e8e8; }
table.tracks .holder.track-number { text-align: right; }
table.tracks .flag-cell {
    text-align: center;
    user-select: none;
}
table.tracks .flag-cell:active {
    background-color: rgba(193, 255, 223, 0.8);
}
table.tracks .holder.event-cnt { text-align: right; }

/** note display follows */

.note-list > .ebony {
    background-color: #474747c2;
}
.note-list > .ivory {
    background-color: #3d3d3d91;
}
.note-list > * {
    border: 1px solid #545454;
    height: 8px;
    padding: 0;
    position: relative;
}
.note-list > div:hover {
    filter: brightness(1.2);
}
.note-list > * > * {
    box-shadow: inset 0px 0px 0px 1.5px #cdcdcd;
}
.note-list > * > div:hover {
    filter: saturate(3.5);
}
.note-list > * > div.selected-note {
    filter: brightness(1.4);
}
.note-info-panel {
    padding: 2px;
    background-color: #d0fdff;
    border-top: solid #0094c1 2px;
}
.note-info-panel span {
    min-width: 20px;
}
.note-info-panel label {
    min-width: 20px;
    margin-right: 8px;
}
.note-display-cont {
    position: relative;
    border: solid #0a25aa 2px;
    margin-top: 4px;
}

.note-display-cont .scroll {
    height: 400px;
    overflow: auto;
    overflow-y: scroll;
    resize: vertical;
    position: relative;
    /* not sure it actually does anything... */
    /*scroll-behavior: auto;*/

    /* does not seem do decrease CPU usage sadly */
    /*will-change: scroll-position;*/

    --quarter-width: 50px;
    /** time signature lines */
    background:
        /* eight note line */
        repeating-linear-gradient(
            90deg,
            #00000000,
            #00000000 calc(var(--quarter-width) / 2 - 1px),
            #aaaaaa calc(var(--quarter-width) / 2)
        ) local,
        /* quarter note line */
        repeating-linear-gradient(
            90deg,
            #00000000,
            #00000000 calc(var(--quarter-width) - 1px),
            #000000 var(--quarter-width)
        ) local;
}
.time-pointer {
    position: absolute;
    width: 4px;
    left: 50px;
    height: 100%;
    background-color: red;
}

/* soundfont info */

img.soundfont-loading {
    width: 100px;
    height: auto;
    mix-blend-mode: multiply;
}
.playback-config {
    margin: 8px;
    padding-left: 8px;
    background-color: darkgrey;
}
.playing .playback-config {
    box-shadow: 0 0 13px 4.5px rgb(196, 98, 42);
}

/* channel colors */

#midi-file-params.hide-notes-channel-0  .note-list > * > *[data-track="0"]  { display: none; }
#midi-file-params.hide-notes-channel-1  .note-list > * > *[data-track="1"]  { display: none; }
#midi-file-params.hide-notes-channel-2  .note-list > * > *[data-track="2"]  { display: none; }
#midi-file-params.hide-notes-channel-3  .note-list > * > *[data-track="3"]  { display: none; }
#midi-file-params.hide-notes-channel-4  .note-list > * > *[data-track="4"]  { display: none; }
#midi-file-params.hide-notes-channel-5  .note-list > * > *[data-track="5"]  { display: none; }
#midi-file-params.hide-notes-channel-6  .note-list > * > *[data-track="6"]  { display: none; }
#midi-file-params.hide-notes-channel-7  .note-list > * > *[data-track="7"]  { display: none; }
#midi-file-params.hide-notes-channel-8  .note-list > * > *[data-track="8"]  { display: none; }
#midi-file-params.hide-notes-channel-9  .note-list > * > *[data-track="9"]  { display: none; }
#midi-file-params.hide-notes-channel-10 .note-list > * > *[data-track="10"] { display: none; }
#midi-file-params.hide-notes-channel-11 .note-list > * > *[data-track="11"] { display: none; }
#midi-file-params.hide-notes-channel-12 .note-list > * > *[data-track="12"] { display: none; }
#midi-file-params.hide-notes-channel-13 .note-list > * > *[data-track="13"] { display: none; }
#midi-file-params.hide-notes-channel-14 .note-list > * > *[data-track="14"] { display: none; }
#midi-file-params.hide-notes-channel-15 .note-list > * > *[data-track="15"] { display: none; }

body {
    --channel-color-0 : rgb(192, 0, 0);
    --channel-color-1 : rgb(0, 148, 0);
    --channel-color-2 : rgb(60, 60, 255);
    --channel-color-3 : rgb(152, 152, 0);
    --channel-color-4 : rgb(0, 192, 192);
    --channel-color-5 : rgb(192, 0, 192);
    --channel-color-6 : rgb(255, 128, 0);
    --channel-color-7 : rgb(91, 0, 255);
    --channel-color-8 : rgb(0, 0, 0);
    --channel-color-9 : rgb(128, 128, 128);
    --channel-color-10: rgb(127, 255, 0);
    --channel-color-11: rgb(255, 0, 255);
    --channel-color-12: rgb(64, 128, 255);
    --channel-color-13: rgb(192, 128, 0);
    --channel-color-14: rgb(130, 200, 0);
    --channel-color-15: rgb(255, 64, 0);
}

.colorize-channel-bg { color: white; }
.colorize-channel-bg[data-channel= "0"] { background-color: var(--channel-color-0); }
.colorize-channel-bg[data-channel= "1"] { background-color: var(--channel-color-1); }
.colorize-channel-bg[data-channel= "2"] { background-color: var(--channel-color-2); }
.colorize-channel-bg[data-channel= "3"] { background-color: var(--channel-color-3); }
.colorize-channel-bg[data-channel= "4"] { background-color: var(--channel-color-4); }
.colorize-channel-bg[data-channel= "5"] { background-color: var(--channel-color-5); }
.colorize-channel-bg[data-channel= "6"] { background-color: var(--channel-color-6); }
.colorize-channel-bg[data-channel= "7"] { background-color: var(--channel-color-7); }
.colorize-channel-bg[data-channel= "8"] { background-color: var(--channel-color-8); }
.colorize-channel-bg[data-channel= "9"] { background-color: var(--channel-color-9); }
.colorize-channel-bg[data-channel="10"] { background-color: var(--channel-color-10); }
.colorize-channel-bg[data-channel="11"] { background-color: var(--channel-color-11); }
.colorize-channel-bg[data-channel="12"] { background-color: var(--channel-color-12); }
.colorize-channel-bg[data-channel="13"] { background-color: var(--channel-color-13); }
.colorize-channel-bg[data-channel="14"] { background-color: var(--channel-color-14); }
.colorize-channel-bg[data-channel="15"] { background-color: var(--channel-color-15); }
